.titulo{
	background: white;
    padding-top: 5px;
    padding-bottom: 5px;
}
.divBlanco{
	    margin-top: 10px;
    background: white;
}

th.ng2-smart-th.Ciclo {
    width: auto;
}

.ng2-smart-table  {
    min-width: 1500px;
}