#izq{
float:left;
width: 50%;
background: white;
margin-right: 5px;
padding-right: 5px;
}
#der{
float:right;
width: 50%;
 background: white;
 margin-left: 5px;
 padding-left: 5px;
}
.home{
	display: flex;
}

h1.text-center.h1 {
    margin-top: 15px;

}


.titulo{
	background: white;
    padding-top: 5px;
    margin-top: 50px;
     border-top: 3px solid #3c8dbc;

}
.divBlanco{
    background: white;
     border-top: 3px solid #3c8dbc;
    margin-top: 10px;
}

