.titulo{
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 50px;
    border-top: 3px solid #3c8dbc
}

.directores{
	background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 3px solid #3c8dbc;
}
.lista{
    background: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 3px solid #3c8dbc;
    padding-left: 10px;
    padding-right: 10px;
}

.portada{
background-repeat: no-repeat !important;
    background-size: cover!important;
}

.infoUser{
width: auto;
}

.letrasNegras{
	color: black;
}

.widget-user .widget-user-image > img {
    width: 90px;
    height: 90px;
    border: 3px solid #fff;
}

section.content-header.titulo {
    margin-top: 0px;
    display: flex;
}

.fotoabet {
       width: 300px;
}



.progress {
    margin-bottom: 0px;
}

.infoUser[_ngcontent-c6] {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
    text-align: -webkit-auto;
}